
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Projeto da disciplina Cálculo Numérico">
    <meta name="author" content=" Bruno Nóbrega">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Cálculo Numérico - Raízes</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Raízes</h2>
        <p class="lead">Aplicação para disciplina de Cálculo Numérico</p>
    </div>
    <form class="needs-validation" th:action="@{/}" th:object="${equacao}" method="post">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Variáveis</span>
                <span class="badge badge-secondary badge-pill">1</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Epsilon</h6>
                        <small class="text-muted">Critério de Parada</small>
                    </div>
                    <input type="number" step=".001" class="form-control" th:field="*{epsilon}" placeholder="" value="" required>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div id="grafico"></div>
                </li>

            </ul>

        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Equação</h4>

                <div class="row">
                    <div class="col-md-2 mb-2">
                        <label for="x5">x^5</label>
                        <input type="number" step=".001" class="form-control" th:field="*{x5}" placeholder="" value="" required>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="x4">x^4</label>
                        <input type="number" step=".001" class="form-control" th:field="*{x4}" placeholder="" value="" required>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="x3">x^3</label>
                        <input type="number" step=".001" class="form-control" th:field="*{x3}" placeholder="" value="" required>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="x2">x^2</label>
                        <input type="number" step=".001" class="form-control" th:field="*{x2}" placeholder="" value="" required>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="x1">x^1</label>
                        <input type="number" step=".001" class="form-control" th:field="*{x1}" placeholder="" value="" required>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="x0">x^0</label>
                        <input type="number" step=".001" class="form-control" th:field="*{x0}" placeholder="" value="" required>
                    </div>
                </div>


                <hr class="mb-4">

                <h4 class="mb-3">Resultados</h4>

                <div class="d-block my-3">
                    <th:block th:if="${equacao.raizes != null}" th:each="raiz,iterStat : ${equacao.raizes}">
                        <h5>Raiz <span th:text="${iterStat.count}"></span></h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Intervalo a</th>
                                <th scope="col">Intervalo b</th>
                                <th scope="col">Valor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="anterior,iterStat : ${raiz.getAnteriores()}">
                                <th th:text="${iterStat.count}" scope="row">1</th>
                                <td th:text="${anterior.getIntervaloA()}">a</td>
                                <td th:text="${anterior.getIntervaloB()}">b</td>
                                <td th:text="${anterior.getValor()}">0</td>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>

                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Calcule</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Cálculo Numérico - UNIFIL 2019</p>

    </footer>
</div>

<script th:src="@{/webjars/jquery/dist/jquery.min.js}" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/webjars/popper.js/dist/popper.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/webjars/d3/d3.min.js}" src="https://unpkg.com/d3@3/d3.min.js"></script>
<script th:src="@{function-plot/dist/function-plot.js}" src="https://unpkg.com/function-plot@1/dist/function-plot.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const root = document.querySelector("#grafico");

    instance = functionPlot({
        width: 270,
        height: 400,
        target: root,
        yAxis: { domain: [-10, 10] },
        tip: {
            renderer: function() {}
        },
        grid: true,
        data: [
            {
                fn: /*[[|${equacao.x5}x^5+${equacao.x4}x^4+${equacao.x3}x^3+${equacao.x2}x^2+${equacao.x1}x^1+${equacao.x0}x^0|]]*/ "x^2"
            }
        ]
    });
    /*]]>*/
</script>
</body>
</html>
